/* Globale Stile für die gesamte Anwendung */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  text-align: center;
}

p {
  margin: 0 0 10px 0;
  text-align: center;
}

button, .btn-link {
  padding: 10px 20px;
  background-color: #0ea336;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 20px; /* Erhöhter Abstand zwischen den Buttons */
  margin-bottom: 10px; /* Abstand unterhalb der Buttons */
  text-decoration: none; /* Entfernt die Unterstreichung von Links */
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover, .btn-link:hover {
  background-color: #0b4e22;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

label {
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: bold;
}

select {
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  height: 36px; /* Einheitliche Höhe für select */
  box-sizing: border-box; /* Einschließen von Padding und Border in die Höhe */
  border-radius: 5px;
  padding: 5px;
}

.table-container {
  max-height: 350px; /* Feste Höhe für den Tabellenkörper */
  overflow-y: auto; /* Ermöglicht das vertikale Scrollen */
  margin-top: 20px;
  margin-bottom: 0px;
  flex: 1 1 50%; /* Flex-Einstellungen für responsive Design */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

thead {
  overflow: hidden; /* Verhindert das Scrollen von Inhalten oberhalb der Spaltenbezeichnung */
}

thead th {
  position: sticky; /* Macht die Spaltenüberschriften fixiert */
  top: -1px; /* Fixiert sie direkt unterhalb des Randes */
  background: #f4f4f4; /* Hintergrundfarbe, um sie vom Rest der Tabelle abzuheben */
  z-index: 1; /* Stellt sicher, dass die Spaltenüberschriften über den anderen Zellen liegen */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.register-link {
  margin-top: 20px;
}

.register-link p {
  margin: 0;
}

/* Spezifische Stile für die Startseite */
.home-container {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.link-container {
  margin-top: 20px;
}

.link-container .btn-link {
  margin-right: 20px;
}

/* Neue Stile für Filter in income.vue */
.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Ausrichtung der Elemente links */
  margin-bottom: 5px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.filter-item label {
  margin-bottom: 5px;
}

.filter-item select,
.filter-item input {
  padding: 5px;
  width: 150px;
  height: 36px; /* Einheitliche Höhe für select und input */
  box-sizing: border-box; /* Einschließen von Padding und Border in die Höhe */
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Stile für die Container von Tabelle und Diagramm */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.chart-container {
  flex: 1 1 45%; /* Flex-Einstellungen für responsive Design */
  min-width: 300px; /* Mindestbreite, damit sie nebeneinander passen */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Queries für Responsive Design */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column; /* Wechselt zu einer Spalte bei kleiner Bildschirmbreite */
  }
  
  .table-container, .chart-container {
    flex: 1 1 100%; /* Beide Container nehmen die volle Breite ein */
    min-width: 100%; /* Stellt sicher, dass die Container untereinander passen */
  }
}
